[Unit]
Description=IAP proxy
Requires=docker.service network-online.target
After=docker.service network-online.target


[Service]
Environment="IMAGE=gcr.io/binx-io-public/simple-iap-proxy:0.4.1"

ExecStartPre=ctr images pull ${IMAGE}

ExecStart=ctr run \
  --rm --net-host \
  --mount type=bind,src=/etc/ssl,dst=/etc/ssl,options=rbind:ro \
  ${IMAGE} iap-proxy \
    /simple-iap-proxy gke-server \
     --certificate-file /etc/ssl/certs/iap-proxy.cert.pem \
     --key-file /etc/ssl/private/iap-proxy.key \
     --port 8443

SuccessExitStatus=0 2
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

